<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Responsive Food Delivery Website Design</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/fontawesome.css">
  <link rel="stylesheet" href="CSS/style.css">

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/11081e2896.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lemonada:wght@500&display=swap" rel="stylesheet">
  <script src="js/index.js" charset="utf-8"></script>

   <style>
       .raj{
         background-color: #000;
       }


   </style>

</head>


<body>

  <!--  header section starts -->
  <header id="header">
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/">special</a></li>
        <li><a href="/">about</a></li>
        <li><a href="/">dish</a></li>
        <li><a href="/">contact</a></li>
      </ul>
    </nav>


    <i class="fas fa-hamburger"></i>
    <a href="#" class="logo"><img src="images/logo.jpg" alt="logo image" width="70px" height="50px"></a>
  </header>

  <!-- header section ends -->
